{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block title %}
    Change Password
{% endblock %}

{% block head %}
{{ super() }}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='image/logo.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}" />
{% endblock %}

{% block content %}
{% include 'includes/_navbar.html' %}
<div class="container">
    {% include 'includes/_messages.html' %}
    <div class="panel panel-info" style="width: 70%; margin: 0 auto;">
        <div class="panel-heading">
            <h3 class="panel-title">Change Password</h3>
        </div>
        <form class="form-horizontal" method="post">
            <br>
            <div class="form-group" style="width: 60%; margin: 0 auto;">

                {{ form.csrf_token }}
                {{ wtf.form_field(form.current_password, class="form-control") }}
                {{ wtf.form_field(form.new_password, class="form-control") }}
                {{ wtf.form_field(form.confirm, class="form-control") }}

                <button id="submit" name="submit" class="btn btn-primary" style="float: right">Submit</button>
            </div>
            <br>
        </form>
    </div>
</div>

<br>
{% endblock %}
