{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    Profile
{% endblock %}

{% block head %}
{{ super() }}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='image/logo.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}" />
{% endblock %}

{% block content %}
{% include 'includes/_navbar.html' %}
<div class="container">
    {% include 'includes/_messages.html' %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{ employee.name }}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center">
              <img alt="User Pic" src="{{ url_for('userAPI.image', image_id=current_user.id) }}" class="img-circle img-responsive"><br>

              <form method=POST  enctype=multipart/form-data >
                <input type="file" class="form-control" name="image"> <br>
                <button id="submit" name="submit" class="btn btn-primary" style="float: right">Upload</button>
              </form>
            </div>
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Email:</td>
                    <td>{{ employee.email }}</td>
                  </tr>
                  <tr>
                    <td>Date of Birth:</td>
                    <td>{{ employee.date_of_birth }}</td>
                  </tr>
                  <tr>
                    <td>Company Number:</td>
                    <td>{{ employee.company_number }}</td>
                  </tr>
                  <tr>
                    <td>Employee Number:</td>
                    <td>{{ employee.employee_number }}</td>
                  </tr>
                  <tr>
                    <td>NIC:</td>
                    <td>{{ employee.nic }}</td>
                  </tr>
                  <tr>
                    <td>Phone Number</td>
                    <td>{{ employee.contact_number }}<br><br>{{ employee.emergency_contact_number }}
                    </td>
                  </tr>
                  <tr>
                    <td>Home Address</td>
                    <td>{{ employee.address }}</td>
                  </tr>
                  <tr>
                    <td>Hire date:</td>
                    <td>{{ employee.date_of_hire }}</td>
                  </tr>
                  <tr>
                    <td>Date of Join</td>
                    <td>{{ employee.date_of_join }}</td>
                  </tr>
                  <tr>
                       <tr>
                    <td>Department</td>
                    <td>{{ employee.department_name }}</td>
                  </tr>
                    <tr>
                    <td>Project</td>
                    <td>{{ employee.project_name }}</td>
                  </tr>
                  <tr>
                    <td>Designation</td>
                    <td>{{ employee.designation_name }}</td>
                  </tr>
                  <tr>
                    <td>Report to</td>
                    <td>{{ report_to.name }}</td>
                  </tr>
                  <tr>
                    <td>Reporter's Email</td>
                    <td>{{ report_to.email }}</td>
                  </tr>
                </tbody>
              </table>
                <a href="{{ url_for('userAPI.change_password') }}" class="btn btn-primary">Change Password</a>
                <a href="{{ url_for('userAPI.profile_edit') }}" class="btn btn-primary">Edit Profile</a>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}