{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block title %}
    Change Password
{% endblock %}

{% block head %}
{{ super() }}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='image/logo.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}" />
{% endblock %}

{% block content %}
{% include 'includes/_navbar.html' %}
<div class="container">
    {% include 'includes/_messages.html' %}
    <div class="panel panel-info" style="width: 70%; margin: 0 auto;">
        <div class="panel-heading">
            <h3 class="panel-title">Change Password</h3>
        </div>
        <form class="form-horizontal" method="post">
            <br>
            <div class="form-group" style="width: 60%; margin: 0 auto;">

                <table class="table table-user-information">
                <tbody>
                  <tr>
                      <td>{{ leave_balance[0].leave_type_name }}{{ leave_balance[0].id }}</td>
                      <td><input type="text" class="form-control" name="Annual" value="{{ leave_balance[0].total }}" ></td>
                  </tr>
                  <tr>
                      <td>{{ leave_balance[1].leave_type_name }}</td>
                      <td><input type="text" class="form-control" name="Medical" value="{{ leave_balance[1].total }}" ></td>
                  </tr>
                  <tr>
                      <td>{{ leave_balance[2].leave_type_name }}</td>
                      <td><input type="text" class="form-control" name="Casual" value="{{ leave_balance[2].total }}" ></td>
                  </tr>
                  <tr>
                      <td>{{ leave_balance[3].leave_type_name }}</td>
                      <td><input type="text" class="form-control" name="NoPay" value="{{ leave_balance[3].total }}" ></td>
                  </tr>
                  <tr>
                      <td>{{ leave_balance[4].leave_type_name }}</td>
                      <td><input type="text" class="form-control" name="Maternity" value="{{ leave_balance[4].total }}" ></td>
                  </tr>
                  <tr>
                      <td>{{ leave_balance[5].leave_type_name }}</td>
                      <td><input type="text" class="form-control" name="Leave" value="{{ leave_balance[5].total }}" ></td>
                  </tr>
                </tbody>
              </table>

                <button id="submit" name="submit" class="btn btn-primary" style="float: right">Submit</button>
            </div>
            <br>
        </form>
    </div>
</div>

<br>
{% endblock %}
