{% extends 'bootstrap/base.html' %}

{% block title %}
    Work on Holiday
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='image/logo.ico') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
{% include 'includes/_navbar.html' %}
<div class="container">
    {% include 'includes/_messages.html' %}
    <div class="span6" style="width: 60%; margin: 0 auto;">
        <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Work on Holiday</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class=" col-md-9 col-lg-9 " style="width: 95%;">
              {% from 'includes/_formhelper.html' import render_field %}
                <div class="row">
                    <form class="form-horizontal" method="post">
                        <div class="form-group">
                            {% if current_user.department_id == 7 and current_user.role_id == 4 %}
                                <label class="col-md-4 control-label">Team Lead Name</label>
                                <div class="col-md-4">
                                    <select name="employee" class="col-md-6 form-control js-example-basic-single">
                                    {% for employee in reporters %}
                                        <option value="{{ employee.id }}">{{ employee.name }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            {% else %}
                                <label class="col-md-4 control-label">Request to</label>
                                <div class="col-md-4">
                                    <div class="col-md-6 form-control">
                                        {{ report.name }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div>
                            {{ render_field(form.date, class="form-control") }}

                            <div class="col-md-4"style="float: right">
                                <button id="demo" name="submit" class="btn btn-success ld-ext-right running" data-target="#demo" data-toggle="collapse">
                                    <span></span>Submit
                                </button>
                                <div id="demo" class="collapse"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(function() {
        $('input[id="date"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            minDate: new Date(),
            locale: {
                format: 'YYYY-MM-DD'
            }
        });
    });

    $(document).ready(function(){
      $("#demo").on("show.bs.collapse", function(){
        $(".btn-success").html('<span><i class="fa fa-spinner fa-spin"></i></span> Sending');
      });
    });

    $(document).ready(function() {
        $('.js-example-basic-single').select2();
    });
</script>
{% endblock %}