{% extends 'bootstrap/base.html' %}

{% block title %}
    Work Approval
{% endblock %}

{% block head %}
{{ super() }}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='image/logo.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}" />
    <script type='text/javascript' src='http://code.jquery.com/jquery.min.js'></script>
{% endblock %}

{% block content %}
{% include 'includes/_navbar.html' %}
<div class="container">
    {% include 'includes/_messages.html' %}
    <div class="panel panel-info" style="width: 70%; margin: 0 auto;">
        <div class="panel-heading" style="background: #ff0000; color: #fff;">
            <h3 class="panel-title">Work Review</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3" align="center">
                    <img alt="User Pic" src="{{ url_for('userAPI.image', image_id=leave_history.id) }}" class="img-circle img-responsive"><br>
                </div>
                <div  class="col-md-9 col-lg-9">
                    <table class="table table-user-information">
                    <tbody>
                        <tr>
                          <td>Applied Date</td>
                          <td>{{ leave_history.applied_date }}</td>
                        </tr>
                        <tr>
                          <td>Name</td>
                          <td>{{ leave_history.name }}</td>
                        </tr>
                        <tr>
                          <td>Company Number</td>
                          <td>{{ leave_history.company_number }}</td>
                        </tr>
                        <tr>
                          <td>Designation</td>
                          <td>{{ leave_history.designation_name }}</td>
                        </tr>
                        <tr>
                          <td>Date</td>
                          <td>{{ leave_history.date }}</td>
                        </tr>
                        {% if leave_history.approved_person_name != None %}
                            <tr>
                              <td>Approved/Disapproved by</td>
                              <td>{{ leave_history.approved_person_name }}</td>
                            </tr>
                        {% endif %}
                        {% if leave_history.disapprove_reason != None %}
                            <tr>
                              <td>Disapproved Reason</td>
                              <td>{{ leave_history.disapprove_reason }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                          <td>Status</td>
                          <td>{{ leave_history.status }}</td>
                        </tr>
                    </tbody>
                    </table>
                    <div>
                        {% if leave_history.leave_status_id == 1 or leave_history.leave_status_id == 2 or leave_history.leave_status_id == 5 %}
                            <input type="text" id="reason" name="textField" class="form-control" placeholder="Enter Reason for Disapprove"/>
                            <br>
                        {% endif %}
                        {% if leave_history.leave_status_id == 1 or leave_history.leave_status_id == 2  or leave_history.leave_status_id == 5 %}
                            <button id="Disapprove" class="btn btn-danger" type="button" onclick="approve(3)">Disapprove </button>
                        {% endif %}
                        {% if leave_history.leave_status_id == 1 or leave_history.leave_status_id == 3 or leave_history.leave_status_id == 5 %}
                            <button id="Approve" class="btn btn-success" type="button" onclick="approve(2)">Approve </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
       function approve(ans) {
            $.ajax({
                url: "{{ url_for('leaveAPI.work_post_approval') }}",
                contentType: 'application/json;charset=UTF-8',
                type: 'POST',
                dataType:'json',
                data: JSON.stringify({
                    "leave_id" : {{ leave_id }},
                    "answer_id" : ans,
                    "reason" : $("#reason").val()
                }),
                success: function(result) {
                    console.log(result);
                    if (result.redirect) {
                        window.location.href = result.redirect;
                    }
                },
                error: function(error){
                    console.log(error);
                }
            });
        }
        $(document).ready(function() {
             $('.btn-danger').prop('disabled', true);
             $('input[type="text"]').keyup(function() {
                if($(this).val().length >  0) {
                   $(".btn-danger").prop('disabled', false);
                }
             });
        });
    </script>
</div>
{% endblock %}