{% extends 'bootstrap/base.html' %}

{% block title %}
    Work on Holiday
{% endblock %}

{% block head %}
{{ super() }}
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='image/logo.ico') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}" />
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datatables.css') }}" />
{% endblock %}

{% block body %}
{% include 'includes/_navbar.html' %}
<div class="container">
    {% include 'includes/_messages.html' %}
    <h3>Work on Holiday History</h3>

    <table id="worktable" class="display">
        <thead>
            <tr>
                <th>Date</th>
                <th>Applied Date</th>
                <th>Responded Date</th>
                <th>Approved By</th>
                <th>Disapprove Reason</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for leave in leave_balance %}
        <tr>
            <td>{{ leave.date }}</td>
            <td>{{ leave.applied_date }}</td>
            <td>{{ leave.approved_date }}</td>
            <td>{{ leave.approved_person_name }}</td>
            <td>{{ leave.disapprove_reason }}</td>
            <td>
                {% if leave.leave_status_id == 1 %}
                <span class="label label-warning">Pending</span>
                {% elif leave.leave_status_id == 2 %}
                <span class="label label-success">Approved</span>
                {% elif leave.leave_status_id == 3 %}
                <span class="label label-danger">Disapproved</span>
                {% elif leave.leave_status_id == 4 %}
                <span class="label label-default">Delete</span>
                {% elif leave.leave_status_id == 5 %}
                <span class="label label-warning">Pending on Supervisor</span>
                {% endif %}
            </td>
            <td><a href="{{ url_for('leaveAPI.work_delete', leave_id=leave.id) }}">Delete</a> </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#worktable').DataTable({
        "order": [[ 1, "desc" ]]
    });
});
</script>
{% endblock %}