{% extends 'admin/master.html' %}

{% block body %}
    <h2>Welcome to MyGSS Admin</h2>
    <h3>Change log</h3>

    <p>2018-01-28: Add QAT details</p>
    <p>2018-01-22: Sender can select who going to approve the leave or work on holiday.</p>
    <p>2018-01-18: SRT data added, My team tab modification.</p>
    <p>2018-01-11: QA, NOC, IT data added.</p>

{% endblock %}