<nav class="navbar navbar-inverse">
    <div class="container-fluid container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">My GSS</a>
          </div>
        {% if current_user.is_authenticated %}
          <div class="collapse navbar-collapse" id="topNavBar">
              <ul class="nav navbar-nav">
                  <li class="">
                      <a href="{{ url_for('salaryAPI.salary') }}">Salary</a>
                  </li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Leave</a>
                      <ul class="dropdown-menu">
                          <li><a href="{{ url_for('leaveAPI.leave') }}">Apply Leave</a></li>
                          <li><a href="{{ url_for('leaveAPI.leave_history') }}">Leave History</a></li>
                          {% if session['role'] != 'employee' %}
                          <li><a href="{{ url_for('leaveAPI.leave_review') }}">Leave Review</a></li>
                          {% endif %}
                        <li class="divider"></li>
                          <li><a href="{{ url_for('leaveAPI.work') }}">Work on Holiday</a></li>
                          <li><a href="{{ url_for('leaveAPI.work_history') }}">Work History</a></li>
                          {% if session['role'] != 'employee' %}
                          <li><a href="{{ url_for('leaveAPI.work_review') }}">Work Review</a></li>
                          {% endif %}
                      </ul>
                  </li>
              </ul>

              <form class="navbar-form navbar-left" role="search" method="post" action="{{ url_for('dashboardAPI.search') }}">
                  <div class="form-group">
                      <input type="text" class="form-control" name="search" value="">
                  </div>

                  <button type="submit" class="btn btn-default">Search</button>
              </form>

              <ul class="nav navbar-nav navbar-right">

                      {% if session['role'] != 'employee'%}
                       <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                              &nbsp Dashboard
                          </a>
                          <ul class="dropdown-menu">
                              {% if session['role'] == 'super' or session['role'] == 'admin' %}
                                  <li><a href="{{ url_for('dashboardAPI.projects') }}">Projects</a></li>
                                  <li><a href="{{ url_for('dashboardAPI.designations') }}">Designations</a></li>
                                  <li><a href="{{ url_for('dashboardAPI.departments') }}">Departments</a></li>
                                  <li><a href="{{ url_for('dashboardAPI.add_member') }}">Members</a></li>
                                  <li class="divider"></li>
                                  <li><a href="{{ url_for('dashboardAPI.leaves_all') }}" >Leaves</a></li>
                                  <li><a href="{{ url_for('dashboardAPI.work_all') }}" >Work on Holiday</a></li>
                                  <li><a href="{{ url_for('dashboardAPI.report') }}" >Leave Report</a></li>
                                  <li class="divider"></li>
                                  <li><a href="/admin" target="_blank">Admin Panel</a></li>
                                  <li class="divider"></li>
                              {% endif %}
                              <li><a href="{{ url_for('dashboardAPI.team') }}">My Team</a></li>
                          </ul>
                      </li>
                      {% endif %}
                      <li class="">
                          <a href="{{ url_for('userAPI.profile') }}">Hi, {{ current_user.name }}</a>
                      </li>
                      <li class="">
                          <a href="/logout">
                              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp Logout
                          </a>
                      </li>

              </ul>
          </div>
         {% endif %}
    </div>
</nav>

