{% extends 'bootstrap/base.html' %}

{% block title %}
    Salary
{% endblock %}

{% block head %}
{{ super() }}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='image/logo.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}" />
{% endblock %}

{% block content %}
{% include 'includes/_navbar.html' %}
<div class="container">
    {% include 'includes/_messages.html' %}

     <div class="panel panel-info" style="width: 50%; margin: 0 auto;">
        <div class="panel-heading">
            <h3 class="panel-title">Salary History</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class=" col-md-9 col-lg-9 " style="width: 98%;">
                    <table class="table table-user-information">
                    <tbody>
                    <tr>
                        <td>Year</td>
                        <td>Month</td>
                        <td></td>
                    </tr>
                    {% for user in salary_user %}
                      <tr>
                          <td>{{ user.year }}</td>
                          <td>{{ user.month }}</td>
                          <td><a href="{{ url_for('salaryAPI.salary_view', year=user.year, month=user.month, pdf=user.pdf ) }}" target="_blank">View</a> </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
