{% extends 'bootstrap/base.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block head %}
{{ super() }}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='image/logo.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}" />
{% endblock %}

{% block content %}
{% include 'includes/_navbar.html' %}
<div class="container">
    {% include 'includes/_messages.html' %}
    {% if session['role'] == 'admin' or session['role'] == 'super': %}
    <div>
        <a class="btn btn-primary" href="{{ url_for('dashboardAPI.projects') }}">Projects</a>
        <a class="btn btn-primary" href="{{ url_for('dashboardAPI.departments') }}">Departments</a>
        <a class="btn btn-primary" href="{{ url_for('dashboardAPI.designations') }}">Designations</a>
        <a class="btn btn-primary" href="{{ url_for('dashboardAPI.add_member') }}">Add member</a>
    </div>
    <hr>
    {% endif %}
    {% if session['role'] == 'super': %}
    <div>
        <a class="btn btn-warning" href="/admin" target="_blank">Admin Panel</a>
    </div>
    <hr>
    {% endif %}
    <div>
        <a class="btn btn-primary" href="{{ url_for('dashboardAPI.team') }}">My Team</a>
    </div>

</div>
{% endblock %}