{% extends 'bootstrap/base.html' %}

{% block title %}
    Welcome to My GSS
{% endblock %}

{% block head %}
{{ super() }}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='image/logo.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}" />
{% endblock %}

{% block content %}
{% include 'includes/_navbar.html' %}
<div class="container">
    {% include 'includes/_messages.html' %}
    <h1>Welcome to My GSS</h1>
    {% if not current_user.is_authenticated %}
     <div>
        <a class="btn btn-primary" href="{{ url_for('userAPI.login') }}">LogIn</a>
     </div>
    {% endif %}
</div>
{% endblock %}
