{% extends 'bootstrap/base.html' %}

{% block body %}
<br>
<br>
<br>
<div class="container">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign in for My GSS</h3>
                </div>
                    {% include 'includes/_messages.html' %}
                <div class="panel-body">
                    <form accept-charset="UTF-8" role="form" action="" method="post">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Email" type="text" name="email" value="" id="email">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" type="password" name="password" value="" id="password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                                </label>
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Login" >
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}