{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block title %}
    Search
{% endblock %}

{% block head %}
{{ super() }}
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='image/logo.ico') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}" />

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datatables.css') }}" />
{% endblock %}

{% block body %}
{% include 'includes/_navbar.html' %}
<div class="container">
    {% include 'includes/_messages.html' %}
    {% if results %}
    <h3>Search Results</h3>

    <table id="leavetable" class="display">
        <thead>
            <tr>
                <th><b>#</b></th>
                <th><b>Name</b></th>
                <th><b>Company Number</b></th>
                <th><b>Employee Number</b></th>
                <th><b>Email</b></th>
                <th><b>Contact</b></th>
                <th><b></b></th>
            </tr>
        </thead>
        <tbody>
        {% for result in results %}
        <tr>
            <td>{{ result.id }}</td>
            <td>{{ result.name }}</td>
            <td>{{ result.company_number }}</td>
            <td>{{ result.employee_number }}</td>
            <td>{{ result.email }}</td>
            <td>{{ result.contact_number }}</td>
            <td>
                <a href="{{ url_for('userAPI.profile_id', user_id=result.id) }}">Details</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    No Results
    {% endif %}
</div>

<script>
$(document).ready(function() {
    $('#leavetable').DataTable();
} );
</script>

{% endblock %}
