{% extends 'bootstrap/base.html' %}

{% block title %}
    Member
{% endblock %}

{% block head %}
{{ super() }}
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='image/logo.ico') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}" />
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

{% endblock %}

{% block body %}
{% include 'includes/_navbar.html' %}
<div class="container">
    {% include 'includes/_messages.html' %}
    {% from 'includes/_formhelper.html' import render_field %}
    <div class="panel panel-info" style="width: 70%; margin: 0 auto;">
        <div class="panel-heading">
            <h3 class="panel-title">Add Member</h3>
        </div>
        <form class="form-horizontal" method="post">
            <fieldset>
                <br>
                <div class="form-group">
                    {{ render_field(form.name, class="form-control") }}
                    {{ render_field(form.email, class="form-control") }}
                    {{ render_field(form.date_of_birth, class="form-control", id="birthdate") }}
                    {{ render_field(form.company_number, class="form-control") }}
                    {{ render_field(form.employee_number, class="form-control") }}
                    {{ render_field(form.nic, class="form-control") }}
                    {{ render_field(form.contact_number, class="form-control") }}
                    {{ render_field(form.emergency_contact_number, class="form-control") }}
                    {{ render_field(form.address, class="form-control") }}
                    {{ render_field(form.date_of_hire, class="form-control", id="birthdate") }}
                    {{ render_field(form.date_of_join, class="form-control", id="birthdate") }}

                <div class="form-group">
                    <label class="col-md-4 control-label">Project</label>
                    <div class="col-md-4">
                        <select name="project" class="col-md-4 form-control js-example-basic-single" >
                            {% for project in project_count %}
                                <option value="{{ project.id }}">{{ project.project_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Department</label>
                    <div class="col-md-4">
                        <select name="department" class="col-md-4 form-control js-example-basic-single" >
                            {% for department in department_count %}
                                <option value="{{ department.id }}">{{ department.department_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Designation</label>
                    <div class="col-md-4">
                        <select name="designation" class="col-md-4 form-control js-example-basic-single">
                            {% for designation in designation_count %}
                                <option value="{{ designation.id }}">{{ designation.designation_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Report to</label>
                    <div class="col-md-4">
                        <select name="employee" class="col-md-4 form-control js-example-basic-single">
                            {% for employee in employee_count %}
                                <option value="{{ employee.id }}">{{ employee.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Role</label>
                    <div class="col-md-4">
                        <select name="role" class="col-md-4 form-control">
                            <option value="4">Employee</option>
                            <option value="3">Staff</option>
                            <option value="2">Admin</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="submit"></label>
                    <div class="col-md-4">
                        <button id="submit" name="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
$(function() {
    $('input[id="birthdate"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        locale: {
            format: 'YYYY-MM-DD'
        },
        maxDate: new Date()
    });
});

$(document).ready(function() {
    $('.js-example-basic-single').select2();
});
</script>
{% endblock %}