{% extends 'bootstrap/base.html' %}

{% block title %}
    Designation
{% endblock %}

{% block head %}
{{ super() }}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='image/logo.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}" />
{% endblock %}

{% block content %}
{% include 'includes/_navbar.html' %}
<div class="container">
    {% include 'includes/_messages.html' %}
    {% from 'includes/_formhelper.html' import render_field %}
     <div class="panel panel-info" style="width: 70%; margin: 0 auto;">
        <div class="panel-heading">
            <h3 class="panel-title">Add Designation</h3>
        </div>
        <form class="form-horizontal" method="post">
            <fieldset>
               <br>
                <div class="form-group">
                    {{ render_field(form.designation_name, class="form-control") }}
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="submit"></label>
                    <div class="col-md-4">
                        <button id="submit" name="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <br>

    <div class="panel panel-info" style="width: 70%; margin: 0 auto;">
        <div class="panel-heading">
            <h3 class="panel-title">Designation</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class=" col-md-9 col-lg-9 " style="width: 98%;">
                    <table class="table table-user-information">
                    <tbody>
                    <tr>
                        <td><b>Designation Name</b></td>
                        <td><b>Delete</b></td>
                    </tr>
                    {% for designation in designation_set %}
                      <tr>
                          <td>{{ designation.designation_name }}</td>
                          <td>
                              <a class="btn btn-danger a-btn-slide-text glyphicon glyphicon-remove" href="{{ url_for('dashboardAPI.delete', delete_id=designation.id, tab=3 ) }}"></a>
                          </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}