{% extends 'bootstrap/base.html' %}

{% block title %}
    Change Reporter
{% endblock %}

{% block head %}
{{ super() }}
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='image/logo.ico') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}" />
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

{% endblock %}

{% block body %}
{% include 'includes/_navbar.html' %}
<div class="container">
    {% include 'includes/_messages.html' %}
    {% from 'includes/_formhelper.html' import render_field %}
    <div class="panel panel-info" style="width: 70%; margin: 0 auto;">
        <div class="panel-heading">
            <h3 class="panel-title">Add Member</h3>
        </div>
        <form class="form-horizontal" method="post">
            <fieldset>
                <br>
                <div class="form-group">
                    <label class="col-md-4 control-label">Report to</label>
                    <div class="col-md-4">
                        <select name="employee" class="col-md-4 form-control js-example-basic-single">
                            {% for employee in employee_count %}
                                <option value="{{ employee.id }}">{{ employee.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="submit"></label>
                    <div class="col-md-4">
                        <button id="submit" name="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('.js-example-basic-single').select2();
});
</script>
{% endblock %}