{% extends 'bootstrap/base.html' %}

{% block title %}
    Leave Review Admin
{% endblock %}

{% block head %}
{{ super() }}
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='image/logo.ico') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}" />

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datatables.css') }}" />
{% endblock %}

{% block body %}
{% include 'includes/_navbar.html' %}
<div class="container">
    {% include 'includes/_messages.html' %}
    <h3>Leave Review Admin</h3>

    <table id="leavetable" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>E#</th>
                <th>C#</th>
                <th>Reason</th>
                <th>Applied Date</th>
                <th>Starting Date</th>
                <th>Leave Type</th>
                <th>Days</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for leave in leave_history %}
        <tr>
            <td>{{ leave.name }}</td>
            <td>{{ leave.employee_number }}</td>
            <td>{{ leave.company_number }}</td>
            <td>{{ leave.reason }}</td>
            <td>{{ leave.applied_date}}</td>
            <td>{{ leave.starting_date }}</td>
            <td>{{ leave.leave_type_name }}</td>
            <td>{{ leave.number_of_days }}</td>
            <td>
                {% if leave.leave_status_id == 1 %}
                <span class="label label-warning">Pending</span>
                {% elif leave.leave_status_id == 2 %}
                <span class="label label-success">Approved</span>
                {% elif leave.leave_status_id == 3 %}
                <span class="label label-danger">Disapproved</span>
                {% elif leave.leave_status_id == 4 %}
                <span class="label label-default">Delete</span>
                {% elif leave.leave_status_id == 5 %}
                <span class="label label-warning">Pending on Supervisor</span>
                {% endif %}
            </td>
            <td><a href="{{ url_for('leaveAPI.leave_approval', leave_id=leave.id) }}">View</a> </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
$(document).ready(function() {
    $('#leavetable').DataTable({
        "order": [[ 4, "desc" ]]
    });
});
</script>
{% endblock %}