{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block title %}
    Profile
{% endblock %}

{% block head %}
{{ super() }}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='image/logo.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}" />

    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
{% endblock %}

{% block content %}
{% include 'includes/_navbar.html' %}
<div class="container">
    {% include 'includes/_messages.html' %}
    <div class="panel panel-info" style="width: 60%; float: left">
        <div class="panel-heading">
            <h3 class="panel-title">{{ employee.name }}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center">
                <img alt="User Pic" src="{{ url_for('userAPI.image', image_id=employee.id) }}" class="img-circle img-responsive">
            </div>
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Email</td>
                    <td>{{ employee.email }}</td>
                  </tr>
                  <tr>
                    <td>Date of Birth</td>
                    <td>{{ employee.date_of_birth }}</td>
                  </tr>
                  <tr>
                    <td>Company Number</td>
                    <td>{{ employee.company_number }}</td>
                  </tr>
                  <tr>
                    <td>Employee Number</td>
                    <td>{{ employee.employee_number }}</td>
                  </tr>
                  <tr>
                    <td>NIC</td>
                    <td>{{ employee.nic }}</td>
                  </tr>
                  <tr>
                    <td>Phone Number</td>
                    <td>{{ employee.contact_number }}<br><br>{{ employee.emergency_contact_number }}
                    </td>
                  </tr>
                  <tr>
                    <td>Home Address</td>
                    <td>{{ employee.address }}</td>
                  </tr>
                  <tr>
                    <td>Hire date</td>
                    <td>{{ employee.date_of_hire }}</td>
                  </tr>
                  <tr>
                    <td>Date of Join</td>
                    <td>{{ employee.date_of_join }}</td>
                  </tr>
                  <tr>
                    <td>Department</td>
                    <td>{{ employee.department_name }}</td>
                  </tr>
                    <tr>
                    <td>Project</td>
                    <td>{{ employee.project_name }}</td>
                  </tr>
                  <tr>
                    <td>Designation</td>
                    <td>{{ employee.designation_name }}</td>
                  </tr>
                <tr>
                    <td>Role</td>
                    {% if employee.role_id == 1 %}
                    <td>Super User</td>
                    {% elif employee.role_id == 2 %}
                    <td>Admin</td>
                    {% elif employee.role_id == 3 %}
                    <td>Staff</td>
                    {% elif employee.role_id == 4 %}
                    <td>Employee</td>
                    {% elif employee.role_id == 5 %}
                    <td>Executive</td>
                    {% endif %}
                  </tr>
                <tr>
                    <td>Reporter</td>
                    <td>{{ reporter.name }}</td>
                  </tr>
                 <tr>
                    <td>Reporter Email</td>
                    <td>{{ reporter.email }}</td>
                  </tr>
                </tbody>
              </table>
            {% if current_user.role_id == 2 or current_user.role_id == 1 %}
              <a href="{{ url_for('dashboardAPI.edit_member', user_id=employee.id) }}" class="btn btn-primary">Change Reporter</a>
            {% endif %}
            </div>
          </div>
        </div>
    </div>

    <div style="float: right; width: 39%">
        <div class="panel panel-info leave">
        <div class="panel-heading">
            <h3 class="panel-title">Leave Balance</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class=" col-md-9 col-lg-9 " style="width: 98%;">
              <table class="table table-user-information">
                <tbody>
                {% for leave in leave_balance %}
                  <tr>

                      <td>{{ leave.leave_type_name }}</td>
                      <td>{{ leave.total }}</td>
                  </tr>

                {% endfor %}
                </tbody>
              </table>
            {% if current_user.role_id == 2 or current_user.role_id == 1 %}
                <a href="{{ url_for('leaveAPI.edit_leave', user_id=employee.id) }}" class="btn btn-primary">Edit Leaves</a>
            {% endif %}
            </div>
          </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}
