{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    Projects
{% endblock %}

{% block head %}
{{ super() }}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='image/logo.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}" />
{% endblock %}

{% block content %}
{% include 'includes/_navbar.html' %}
<div class="container">
    {% include 'includes/_messages.html' %}
    <div class="panel panel-info" style="width: 70%; margin: 0 auto;">
        <div class="panel-heading">
            <h3 class="panel-title">Add Project</h3>
        </div>
        <form class="form-horizontal" method="post">
            <br>
            <div class="form-group" style="width: 60%; margin: 0 auto;">

                {{ form.csrf_token }}
                {{ wtf.form_field(form.project_name, class="form-control") }}

                <button id="submit" name="submit" class="btn btn-primary" style="float: right">Submit</button>
            </div>
            <br>
        </form>
    </div>

    <br>

    <div class="panel panel-info" style="width: 70%; margin: 0 auto;">
        <div class="panel-heading">
            <h3 class="panel-title">Projects</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class=" col-md-9 col-lg-9 " style="width: 98%;">
                    <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <td><b>Project Name</b></td>
                            <td><b>Delete</b></td>
                        </tr>
                        {% for project in project_set %}
                        <tr>
                            <td>{{ project.project_name }}</td>
                            <td>
                                <a class="btn btn-danger glyphicon glyphicon-remove" href="{{ url_for('dashboardAPI.delete', delete_id=project.id, tab=1 ) }}"></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
{% endblock %}
