{% extends 'bootstrap/base.html' %}

{% block title %}
    Member
{% endblock %}

{% block head %}
{{ super() }}
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='image/logo.ico') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}" />
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

{% endblock %}

{% block body %}
{% include 'includes/_navbar.html' %}
<div class="container">
    {% include 'includes/_messages.html' %}
    {% from 'includes/_formhelper.html' import render_field %}
    <div class="panel panel-info" style="width: 70%; margin: 0 auto;">
        <div class="panel-heading">
            <h3 class="panel-title">Add Date Range</h3>
        </div>
        <form class="form-horizontal" method="post">
            <fieldset>
                <br>
                <div class="form-group">
                    {{ render_field(form.start_date, class="form-control", id="birthdate") }}
                    {{ render_field(form.end_date, class="form-control", id="birthdate") }}

                <div class="form-group">
                    <label class="col-md-4 control-label" for="submit"></label>
                    <div class="col-md-4">
                        <button id="submit" name="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
$(function() {
    $('input[id="birthdate"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        locale: {
            format: 'YYYY-MM-DD'
        },
        maxDate: new Date()
    });
});
</script>
{% endblock %}