{% extends 'bootstrap/base.html' %}

{% block title %}
    My team
{% endblock %}

{% block head %}
{{ super() }}
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='image/logo.ico') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}" />

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datatables.css') }}" />

{% endblock %}

{% block body %}
{% include 'includes/_navbar.html' %}
<div class="container">
    {% include 'includes/_messages.html' %}
    <h3>My Team</h3>

    <table id="worktable" class="display">
        <thead>
            <tr>
                <th><b>Name</b></th>
                <th><b>Email</b></th>
                <th><b>Date of Birth</b></th>
                <th><b>Contact Number</b></th>
                <th><b>Project Name</b></th>
                <th><b>Designation Name</b></th>
                <th><b>Department Name</b></th>
            </tr>
        </thead>
        <tbody>
        {% for member in member_set %}
          <tr>
              <td>{{ member.name }}</td>
              <td>{{ member.email }}</td>
              <td>{{ member.date_of_birth }}</td>
              <td>{{ member.contact_number }}</td>
              <td>{{ member.project_name }}</td>
              <td>{{ member.designation_name }}</td>
              <td>{{ member.department_name }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#worktable').DataTable();
} );
</script>
{% endblock %}