{% extends 'bootstrap/base.html' %}

{% block title %}
    Work Review Admin
{% endblock %}

{% block head %}
{{ super() }}
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='image/logo.ico') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}" />

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datatables.css') }}" />
{% endblock %}

{% block body %}
{% include 'includes/_navbar.html' %}
<div class="container">
    {% include 'includes/_messages.html' %}
    <h3>Work Reviews Admin</h3>

    <table id="worktable" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>E #</th>
                <th>C #</th>
                <th>Applied Date</th>
                <th>Approved Person</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for leave in work_history %}
        <tr>
            <td>{{ leave.name }}</td>
            <td>{{ leave.employee_number }}</td>
            <td>{{ leave.company_number }}</td>
            <td>{{ leave.applied_date }}</td>
            <td>{{ leave.approved_person_name }}</td>
            <td>{{ leave.date }}</td>
            <td>
                {% if leave.leave_status_id == 1 %}
                <span class="label label-warning">Pending</span>
                {% elif leave.leave_status_id == 2 %}
                <span class="label label-success">Approved</span>
                {% elif leave.leave_status_id == 3 %}
                <span class="label label-danger">Disapproved</span>
                {% elif leave.leave_status_id == 4 %}
                <span class="label label-default">Delete</span>
                {% endif %}
            </td>
            <td><a href="{{ url_for('leaveAPI.work_approval', leave_id=leave.id) }}">View</a> </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
$(document).ready(function() {
    $('#worktable').DataTable(
    {
        "order": [[ 3, "desc" ]]
    });
});
</script>

{% endblock %}